[user]
	email = artur@juraszek.xyz
	name = Artur Juraszek
[commit]
	gpgsign = true
[github]
	user = Asgavar
[gitlab "gitlab.services.ams.osa/api/v4"]
	user = ajuraszek
[fastcommit]
	style = sequential
[rebase]
	autosquash = true
